@import url("react-quill/dist/quill.snow.css");

.ql-container {
  min-height: 300px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ql-toolbar {
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ql-stroke:is(.dark *) {
  stroke: white;
}
.ql-picker:is(.dark *) {
  color: white;
}

.ql-picker-options {
  color: black;
}
